html(lang="en")
head 
    link(rel="stylesheet", href="style.css")
body 
    form(method="post") 
        input(type="text" name="comments" placeholder="comments")
        input(type="text" name="gender" placeholder="gender")


        input(type="submit" value="Submit!")