doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        form(method="POST")
            input(name="id", type="text" placeholder="ID" required)
            input(name="pw", type="password" placeholder="PW" required)
            input(name="pw2", type="password" placeholder="PW2" required)
            input(name="name", type="text" placeholder="name" required)
            input(name="email", type="text" placeholder="email")
            input(name="number", type="text" placeholder="number")
            input(name="links", type="text" placeholder="links")
            button Submit