doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        form(method="POST")
            input(name="id", type="text" placeholder="ID" required)
            input(name="pw", type="password" placeholder="PW" required)
            button Submit
        button Join

        button(value="")